//! This file is using BEM as a methodology to create hierarchy and organization of the styles
@use "reset";
@use "scroll-style";

:root {
    --background-primary: #313131;
    --background-secondary: #fff;
    --background-tertiary: #ee6b2f;
    --background-quaternary: #4dad5b;
    --font-primary: #717171;
    --font-secondary: #fff;
    --normal-color: #4d4d4d;
    --fighting-color: #b23c38;
    --flying-color: #7064aa;
    --poison-color: #783f78;
    --ground-color: #b99263;
    --rock-color: #928868;
    --bug-color: #6b7541;
    --ghost-color: #7f6881;
    --steel-color: #86868f;
    --fire-color: #a73b3b;
    --water-color: #576b99;
    --grass-color: #476533;
    --electric-color: #b8a366;
    --psychic-color: #b67b8e;
    --ice-color: #8fb8b6;
    --dragon-color: #7a5ca8;
    --dark-color: #7c7970;
    --fairy-color: #a77c8f;
    --unknown-color: #576b63;
    --shadow-color: #5a5e66;
}

body {
    color: var(--font-primary);
    font-family: "Flexo-Regular", arial, sans-serif;
    padding-right: 0 !important;
}

.btn-primary {
    letter-spacing: 1px;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    margin: 0 10%;
    display: flex;
    gap: 16px;
    overflow: hidden;

}

.pokemon-team {
    align-items: stretch;
    display: flex;
    gap: 24px;
    overflow-x: auto;
    padding: 12px 0;

    & .pokemon-card {
        background-color: #e0e0e0;
        border-radius: 12px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & img {
            width: auto;
            height: 100%;
            max-height: 60px;
            object-fit: contain;
            object-position: center center;
            margin: 0 auto;
            display: block;
        }

        & p {
            margin: 0;
            text-align: center;
        }
    }
}


.header {
    width: 100%;
    align-items: left;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    z-index: 100;

    &__h2 {
        background-color: #EF5350;
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 260px;
    }

    &__container-input {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

    }

    &__label {
        margin: 0;
    }

    &__input {
        min-width: 260px;
    }

    @media screen and (max-width: 480px) {
        .header {

            &__form {
                width: 100%;
            }

            &__container-input {
                display: flex;
                width: 100%;

                &__input {
                    width: 100%;
                }

                &__label {
                    width: 100%;
                }
            }
        }
    }
}

.main-container {
    margin: 2rem 4%;
    display: flex;
    flex-direction: column;
    min-height: 58vh;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;


    &__card {
        position: relative;
        aspect-ratio: 1 / 1;
        align-items: center;
        cursor: pointer;
        background: #e0e0e0;
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        padding: 0.8rem;
        width: 100%;
        box-shadow:
            8px 8px 25px #bebebe,
            -8px -8px 25px #ffffff;
    }

    @media only screen and (min-width: 420px) {
        &__card {
            width: 40%;

        }

        &__img {
            height: 100px;
            width: auto;
            object-fit: contain;
            z-index: 100;
        }
    }

    @media only screen and (min-width: 700px) {
        &__card {
            width: 30%;
        }
    }

    @media only screen and (min-width: 900px) {
        &__card {
            width: 20%;
        }
    }

    @media only screen and (min-width: 1200px) {
        &__card {
            width: 14%;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        height: 100%;
        justify-content: center;
        z-index: 100;

    }

    &__img {
        height: 65px;
        width: auto;
        object-fit: contain;
        z-index: 100;
    }

    &__img--bg {
        position: absolute;
        height: auto;
        max-height: 80%;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.05;
    }

    &__p {
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        text-align: center;
        z-index: 100;
    }

    &__type-container {
        justify-content: center;
        display: flex;
        gap: 0.4rem;
        z-index: 100;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.footer {
    align-items: center;
    background-color: #a93533;
    color: #ffffff;
    display: flex;
    height: 140px;
    justify-content: center;

    &__p {
        text-align: center;
    }
}


.modal-content {
    width: 400px;
    margin: 0 auto;
}

.modal-body {
    padding-top: 0;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;


    &__title {
        font-size: 1.4rem;
        margin: 0;
    }

    &__info {
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        gap: 1rem;
    }

    &__img {
        width: 100px;
    }
}

.chip {
    border-radius: 1rem;
    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;
}

.normal {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--normal-color);
    color: var(--font-secondary);
}

.fighting {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--fighting-color);
    color: var(--font-secondary);
}

.flying {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--flying-color);
    color: var(--font-secondary);
}

.poison {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--poison-color);
    color: var(--font-secondary);
}

.ground {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--ground-color);
    color: var(--font-secondary);
}

.rock {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--rock-color);
    color: var(--font-secondary);
}

.bug {

    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--bug-color);
    color: var(--font-secondary);
}

.ghost {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--ghost-color);
    color: var(--font-secondary);
}

.steel {
    background-color: var(--steel-color);
    color: var(--font-secondary);
}

.fire {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--fire-color);
    color: var(--font-secondary);
}

.water {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--water-color);
    color: var(--font-secondary);
}

.grass {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--grass-color);
    color: var(--font-secondary);
}

.electric {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--electric-color);
    color: var(--font-secondary);
}

.psychic {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--psychic-color);
    color: var(--font-secondary);
}

.ice {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--ice-color);
    color: var(--font-secondary);
}

.dragon {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--dragon-color);
    color: var(--font-secondary);
}

.dark {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--dark-color);
    color: var(--font-secondary);
}

.fairy {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--fairy-color);
    color: var(--font-secondary);
}

.unknown {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--unknown-color);
    color: var(--font-secondary);
}

.shadow {
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--shadow-color);
    color: var(--font-secondary);
}

.modal-header {
    border: none;
}

.add-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    &__img-catch-button {
        width: 60px;
        margin: 0 auto;
    }

    &__p {
        text-align: center;
        margin: 0;
    }
}

.page-link {
    color: #000000;
    font-weight: 500;
}


.btn-primary {
    background-color: #0d5fbc;
    border-color: #0d5fbc;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #2c5a9c;
    border-color: #2c5a9c;
}
