//! This file is using BEM as a methodology to create hierarchy and organization of the styles
@use "reset";
@use "scroll-style";

:root {
    --background-primary: #313131;
    --background-secondary: #fff;
    --background-tertiary: #ee6b2f;
    --background-quaternary: #4dad5b;
    --font-primary: #919191;
    --font-secondary: #fff;
    --normal-color: #a8a77a;
    --fighting-color: #c22e28;
    --flying-color: #a98ff3;
    --poison-color: #a33ea1;
    --ground-color: #e2bf65;
    --rock-color: #b6a136;
    --bug-color: #a6b91a;
    --ghost-color: #735797;
    --steel-color: #b7b7ce;
    --fire-color: #ee8130;
    --water-color: #6390f0;
    --grass-color: #7ac74c;
    --electric-color: #f7d02c;
    --psychic-color: #f95587;
    --ice-color: #96d9d6;
    --dragon-color: #6f35fc;
    --dark-color: #705746;
    --fairy-color: #d685ad;
    --unknown-color: #68a090;
    --shadow-color: #5f6169;
}

body {
    color: var(--font-primary);
    font-family: "Flexo-Regular", arial, sans-serif;
    padding-right: 0 !important;
}

.header {
    align-items: center;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    z-index: 100;

    &__h2 {
        background-color: #EF5350;
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        width: 100%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        max-width: 260px;
        margin: 1.2rem 0;
    }

    &__container-input {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        max-width: 260px;
    }

    &__label {
        margin: 0;
    }

    &__input {
        max-width: 260px;
    }
}

.main-container {
    margin: 2rem 4%;
    display: flex;
    flex-direction: column;
    min-height: 58vh;

    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    &__card {
        aspect-ratio: 1 / 1;
        align-items: center;
        cursor: pointer;
        background: #e0e0e0;
        border-radius: 0.4rem;
        display: flex;
        justify-content: center;
        padding: 0.8rem;
        width: 100%;
        box-shadow:
            8px 8px 25px #bebebe,
            -8px -8px 25px #ffffff;
    }

    @media only screen and (min-width: 420px) {
        &__card {
            width: 40%;
        }

        &__img {
            max-height: 120px;
            height: 200px;
        }
    }

    @media only screen and (min-width: 700px) {
        &__card {
            width: 30%;
        }
    }

    @media only screen and (min-width: 900px) {
        &__card {
            width: 20%;
        }
    }

    @media only screen and (min-width: 1200px) {
        &__card {
            width: 14%;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        height: 100%;
        justify-content: center;
    }

    &__img {
        height: auto;
        max-height: 60px;
        object-fit: contain;
        width: auto;
    }

    &__p {
        margin: 0;
        text-align: center;
    }

    &__type-container {
        justify-content: center;
        display: flex;
        gap: 0.4rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
}

.footer {
    align-items: center;
    background-color: #EF5350;
    color: #ffffff;
    display: flex;
    height: 140px;
    justify-content: center;

    &__p {
        text-align: center;
    }
}


.modal-content {
    width: 400px;
    margin: 0 auto;
}

.modal-body {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;


    &__title {
        font-size: 1.4rem;
    }

    &__info {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__img {
        width: 100px;
    }
}

.chip {
    border-radius: 1rem;
    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;
}

.normal {
    background-color: var(--normal-color);
    color: var(--font-secondary);
}

.fighting {
    background-color: var(--fighting-color);
    color: var(--font-secondary);
}

.flying {
    background-color: var(--flying-color);
    color: var(--font-secondary);
}

.poison {
    background-color: var(--poison-color);
    color: var(--font-secondary);
}

.ground {
    background-color: var(--ground-color);
    color: var(--font-secondary);
}

.rock {
    background-color: var(--rock-color);
    color: var(--font-secondary);
}

.bug {
    background-color: var(--bug-color);
    color: var(--font-secondary);
}

.ghost {
    background-color: var(--ghost-color);
    color: var(--font-secondary);
}

.steel {
    background-color: var(--steel-color);
    color: var(--font-secondary);
}

.fire {
    background-color: var(--fire-color);
    color: var(--font-secondary);
}

.water {
    background-color: var(--water-color);
    color: var(--font-secondary);
}

.grass {
    background-color: var(--grass-color);
    color: var(--font-secondary);
}

.electric {
    background-color: var(--electric-color);
    color: var(--font-secondary);
}

.psychic {
    background-color: var(--psychic-color);
    color: var(--font-secondary);
}

.ice {
    background-color: var(--ice-color);
    color: var(--font-secondary);
}

.dragon {
    background-color: var(--dragon-color);
    color: var(--font-secondary);
}

.dark {
    background-color: var(--dark-color);
    color: var(--font-secondary);
}

.fairy {
    background-color: var(--fairy-color);
    color: var(--font-secondary);
}

.unknown {
    background-color: var(--unknown-color);
    color: var(--font-secondary);
}

.shadow {
    background-color: var(--shadow-color);
    color: var(--font-secondary);
}
